.about-title {
    display: flex;
    justify-content: center;
    padding: 4rem;
    color: #e1dfdf;
    font-size: 2rem;
    text-shadow: #000000 3px 3px 3px;
}

.about-flex {
    display: flex;
    flex-direction: column;
}

.about-item {
    margin-top: 3rem;
    margin-left: 5rem;
    max-width: 60%;
    color: #d0d0d0;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    margin-top: 3rem;
    margin-left: 5rem;
    max-width: 60%;
    color: #d0d0d0;
    filter: blur(0);
    transform: translateX(0);
    opacity: 1;
}

.about-position {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.animation-position {
    border-right: #d0d0d0 3px solid;
    height: 25em;
    margin-left: 8rem;
    width: 2em;
    opacity: 0.5;
}

.more-about {
    display: flex;
    justify-content: flex-end;
    margin: 2rem 5rem;
}

.more-about a {
    text-decoration: none;
    color: #9b9b9b;
}

.more-about a:hover {
    color: #ececec;
}